*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', '微软雅黑', arial, \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti, '宋体';
}
a, a:active, a:hover, a:visited {
    text-decoration: none!important;
    cursor: pointer;
}
.container{
    position: relative;
    min-width: 1200px;
}
.common-head{
    height: 80px;
    text-align: center;
    line-height: 80px;
    overflow: hidden;
    padding-top:1px;
}
.common-head .common-head-logo{
    position: relative;
    display: inline-block;
    height: 45px;
    width: 182px;
    margin-right: 560px;
}
.common-head .common-head-logo:after{
    display: block;
    position: absolute;
    content: '';
    top: 17.5px;
    left: 0;
    height: 45px;
    width: 164px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
    background-position: -258px -128px;
}
.common-head a{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 80px;
    font-size: 16px;
    color: #848484;
}
.common-head .on{
    color: #F0831E;
}
.common-head .on:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 120px;
    bottom: 0;
    left: 0;
    background: #F0831E;
}
.common-foot{
    height: 262px;
    background: #F2F2F2;
}
.common-foot .common-foot-content{
    width: 1200px;
    height: 212px;
    margin: 0 auto;
}
.common-foot .common-foot-content i{
    display: block;
    float: left;
    margin-top: 31px;
    width: 128px; 
    height: 150px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
    background-position: -188px -247px;
}
.common-foot .common-foot-content .common-foot-content-list{
    float: left;
    margin-top: 41px;
    margin-left: 102px;
    font-size: 12px;
    color: #9C9C9C;
}
.common-foot .common-foot-content .common-foot-content-list a{
    display: block;
    line-height: 31px;
}
.common-foot .common-foot-content .common-foot-content-contact{
    float: right;
    margin-top: 41px;
    color: #646464;
    font-size: 12px;
    line-height: 30px;
}
.common-foot .common-foot-content .common-foot-content-contact p{
    color: #F0831E;
    margin-bottom: 10px;
}
.common-foot .common-foot-copyright{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #E4E4E4;
}
/* 首页 */
.index-banner{
    height: 540px;
    width: 100%;
    background: url(../img/index_banner.png) no-repeat center;
}
.index-banner .index-banner-content{
    width: 1200px;
    height: 540px;
    margin: 0 auto;
}
.index-banner .index-banner-content img{
    display: block;
    float: right;
    height: 215px;
    width: 215px;
    margin-top: 90px;
    margin-right: 140px;
}
.index-banner .index-banner-content .index-banner-content-text{
    float: right;
    margin-right: 30px;
    margin-top: 40px;
}
.index-banner .index-banner-content .index-banner-content-text div{
    float: left;
    font-size: 28px;
    color: #FFFFFF;
}
.index-banner .index-banner-content .index-banner-content-text div:first-child{
    margin-right: 30px;
}
.index-banner .index-banner-content .index-banner-content-text div p{
    font-size: 50px;
    opacity: 1;
    color: #FFFFFF;
}
.index-banner .index-banner-content .index-banner-content-text div span{
    opacity: 0.54;
}
.index-tab{
    height: 150px;
    background: #F0831E;
    color: #FFFFFF;
}
.index-tab-content{
    height: 150px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.index-tab .index-tab-item{
    display: inline-block;
    height: 150px;
    margin-right: 185px;
}
.index-tab .index-tab-item:last-child{
    margin-right: 0;
}
.index-tab .index-tab-item i{
    display: block;
    float: left;
    height: 55px;
    width: 55px;
    margin-right: 33px;
    margin-top: 47.5px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
}
.index-tab .index-tab-item .child{
    background-position: -411px -247px;
}
.index-tab .index-tab-item .parent{
    background-position: -486px -247px;
}
.index-tab .index-tab-item .shequ{
    background-position: -336px -247px;
}
.index-tab .index-tab-item div{
    float: left;
    font-size: 12px;
    margin-top: 51px;
}
.index-tab .index-tab-item div p{
    font-size: 20px;
    margin-bottom: 5px;
}
.index-logo{
    margin: 35px auto;
    width: 364px; 
    height: 98px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
    background-position: -258px -10px;
}
.index-desc{
    width: 927px;
    margin: 0 auto;
    margin-top: 4px;
    font-size: 12px;
    color: #9C9C9C;
    text-align: center;
}
.index-info{
    width: 1142px;
    overflow: hidden;
    margin: 0 auto;
}
.index-info:after{
    clear: both;
}
.index-info img{
    float: left;
    display: block;
    width: 571px;
    height: 341px;
}
.index-info .index-info-text{
    float: left;
    display: block;
    width: 571px;
}
.index-info .index-info-text .index-info-text-item{
    margin-left: 42px;
    margin-top: 25px;
    width: 514px;
    overflow: hidden;
}
.index-info .index-info-text .index-info-text-item:last-child{
    margin-top: 57px;
}
.index-info .index-info-text .index-info-text-item:after{
    clear: both;
}
.index-info .index-info-text .index-info-text-item i{
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
}
.index-info .index-info-text .index-info-text-item .icon1{
    background-position: -561px -247px;
}
.index-info .index-info-text .index-info-text-item .icon2{
    background-position: -336px -322px;
}
.index-info .index-info-text .index-info-text-item .icon3{
    background-position: -406px -322px;
}
.index-info .index-info-text .index-info-text-item .icon4{
    background-position: -476px -322px;
}
.index-info .index-info-text .index-info-text-item div{
    margin-left: 85px;
    font-size: 12px;
    color: #9C9C9C;
}
.index-info .index-info-text .index-info-text-item div p{
    font-size: 30px;
    color: #3C3C3C;
    margin-bottom: 12px;
}
.index-foot{
    height: 500px;
    background: #F0831E;
    text-align: center;
    overflow: hidden;
}
.index-foot i{
    display: block;
    width: 158px; 
    height: 150px;
    margin: 0 auto;
    margin-top: 70px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
    background-position: -10px -247px;
}
.index-foot p{
    width: 600px;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.index-foot span{
    display: block;
    width: 600px;
    margin: 0 auto;
    opacity: 0.79;
    font-size: 20px;
    color: #FFFFFF;
}
.index-foot a{
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 42px;
    background: #FFFFFF;
    border-radius: 100px;
    font-size: 14px;
    color: #F0831E;
    text-align: center;
}
/* 招商合作 */
.cooperate-head{
    height: 230px;
    width: 100%;
    background: url(../img/cooperate_head.png) no-repeat center;
}
.cooperate-content{
    width: 850px;
    margin: 0 auto;
}
.cooperate-content .cooperate-content-title{
    position: relative;
    height: 40px;
    font-size: 28px;
    color: #3C3C3C;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 40px;
    padding-left: 55px;
}
.cooperate-content .cooperate-content-title i{
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    height: 36px;
    width: 36px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
}
.cooperate-content .cooperate-content-title .icon1{
    background-position: -498px -128px;
}
.cooperate-content .cooperate-content-title .icon2{
    background-position: -442px -128px;
}
.cooperate-content .cooperate-content-contact{
    text-align: center;
    margin-bottom: 35px;
}
.cooperate-content .cooperate-content-contact:last-child{
    margin-bottom: 105px;
}
.cooperate-content .cooperate-content-contact .cooperate-content-contact-item{
    display: inline-block;
    width: 200px;
    border: 1px solid #FC8B04;
    border-radius: 6px;
}
.cooperate-content .cooperate-content-contact .cooperate-content-contact-item:first-child{
    margin-right: 104px;
}
.cooperate-content .cooperate-content-contact .cooperate-content-contact-item .cooperate-content-contact-item-head{
    height: 50px;
    background: #FC8B04;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
.cooperate-content .cooperate-content-contact .cooperate-content-contact-item .cooperate-content-contact-item-content{
    margin: 10px;
}
.cooperate-content .cooperate-content-contact .cooperate-content-contact-item .cooperate-content-contact-item-content p{
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000000;
}
.cooperate-form{
    width: 710px;
    margin: 0 auto;
    margin-bottom: 126px;
}
.cooperate-form .cooperate-form-line{
    height: 30px;
    margin: 40px 0;
}
.cooperate-form .cooperate-form-line2{
    height: 90px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item{
    float: left;
    height: 30px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item:first-child{
    margin-right: 50px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item i{
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .icon1{
    background-position: -308px -193px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .icon2{
    background-position: -554px -128px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .icon3{
    background-position: -358px -193px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .icon4{
    background-position: -258px -193px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .icon5{
    background-position: -408px -193px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .cooperate-form-line-item-input{
    float: left;
    height: 28px;
    width: 200px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .cooperate-form-line-item-input input{
    height: 100%;
    width: 170px;
    padding: 0 15px;
    border-radius: 4px;
    border: 0;
}
.cooperate-form .cooperate-form-line .cooperate-form-line-item .cooperate-form-line-item-input select{
    height: 100%;
    width: 200px;
    border-radius: 4px;
    border: 0;
    padding-left: 15px;
}
.cooperate-form .cooperate-form-line2 .cooperate-form-line-item{
    height: 90px;
    width: 710px;
}
.cooperate-form .cooperate-form-line2 .cooperate-form-line-item .cooperate-form-line-item-textarea{
    float: left;
    height: 88px;
    width: 650px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
}
.cooperate-form .cooperate-form-line2 .cooperate-form-line-item .cooperate-form-line-item-textarea textarea{
    height: 58px;
    width: 620px;
    padding: 15px;
    border-radius: 4px;
    border: 0;    
    resize: none;
}
/* 关于 */
.about-head{
    height: 230px;
    width: 100%;
    background: url(../img/about_head.png) no-repeat center;
}
.about-tab{
    height: 50px;
    background: #F0831E;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
}
.about-tab .about-tab-item{
    position: relative;
    display: inline-block;
    width: 100px;
    margin-right: 260px;
    cursor: pointer;
}
.about-tab .about-tab-item:last-child{
    margin: 0;
}
.about-tab .on:after{
    position: absolute;
    left: 26px;
    content: '';
    bottom: -40px;
    width: 0;
    height: 0;
    border-top: 24px solid #F0831E;
    border-right: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 24px solid transparent; 
}
.about-content{
    min-height: 500px;
    background: url(../img/bg.png);
    overflow: hidden;
}
.about-content-container{
    width: 810px;
    margin: 0 auto;
}
.about-content-container .about-content-container-text{
    margin-top: 106px;
    font-size: 12px;
    color: #3C3C3C;
}
.about-content-container .about-content-container-join{
    margin-top: 42px;
    font-size: 16px;
    color: #3C3C3C;
}
.about-content-container .about-content-container-join p{
    font-size: 20px;
    color: #F0831E;
    text-align: center;
}
.about-content-container .about-content-container-join-head{
    height: 34px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.about-content-container .about-content-container-join-head span{
    display: block;
    float: left;
    margin-left: 85px;
    height: 34px;
    line-height: 34px;
}
.about-content-container .about-content-container-join-head .about-content-container-join-head-select{    
    float: right;
    height: 32px;
    width: 110px;
    margin-right: 65px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
}
.about-content-container .about-content-container-join-head .about-content-container-join-head-select select{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 0;
    padding-left: 15px;
}
.about-content-container .about-content-container-join-table{
    border: 1px solid #DADADA;
}
.about-content-container .about-content-container-join-table div{
    height: 32px;
    line-height: 32px;
}
.about-content-container .about-content-container-join-table div:first-child{
    background: #E7F7FF;
    border-bottom: 1px solid #DADADA;
}
.about-content-container .about-content-container-join-table div span{
    display: block;
    width: 234px;
    text-align: center;
    height: 32px;
}
.about-content-container .about-content-container-join-table div span:first-child{
    float: left;
}
.about-content-container .about-content-container-join-table div span:last-child{
    float: right;
}
.about-content-container-contact{
    margin-top: 65px;
    margin-bottom: 122px;
}
.about-content-container-contact .about-content-container-contact-title{
    position: relative;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    color: #3C3C3C;
    font-weight: bold;
    padding-left: 45px;
    margin-bottom: 80px;
}
.about-content-container-contact .about-content-container-contact-title i{
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    height: 23px;
    width: 23px;
    background: url(../img/icon_sprites.png);
    background-size: 632px 407px;
}
.about-content-container-contact .about-content-container-contact-title .icon1{
    background-position: -458px -193px;
}
.about-content-container-contact .about-content-container-contact-title .icon2{
    background-position: -501px -193px;
}
.about-content-container-contact .about-content-container-contact-title p{
    font-size: 20px;
    color: #9F9F9F;
    margin-top: 27px;
    line-height: 28px;
    font-weight: normal;
}
.about-content-container-contact .about-content-container-contact-one{
    width: 635px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 115px;
}
.about-content-container-contact .about-content-container-contact-one:after{
    clear: both;
}
.about-content-container-contact .about-content-container-contact-one .about-content-container-contact-one-item{
    float: left;
    width: 280px;
    height: 244px;
    border: 1px solid #FC8B04;
    border-radius: 6px;
}
.about-content-container-contact .about-content-container-contact-one .about-content-container-contact-one-item:first-child{
    margin-right: 70px;
}
.about-content-container-contact .about-content-container-contact-one .about-content-container-contact-one-item div{
    height: 50px;
    line-height: 50px;
    background: #FC8B04;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.about-content-container-contact .about-content-container-contact-one .about-content-container-contact-one-item p{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: #FC8B04;
    font-weight: bold;
    margin-top: 54px;
}
.about-content-container-contact .about-content-container-contact-one .about-content-container-contact-one-item span{
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #9F9F9F;
    margin-top: 15px;
}
.about-content-container-contact .about-content-container-contact-one .about-content-container-contact-one-item img{
    display: block;
    width: 131px;
    height: 132px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -15px;
}
.about-content-container-contact-two{
    width: 389px;
    height: 314px;
    border: 1px solid #FC8B04;
    border-radius: 6px;
    margin: 0 auto;
}
.about-content-container-contact-two div{
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    background: #FC8B04;
}
.about-content-container-contact-two img{
    display: block;
    width: 161px;
    height: 163px;
    margin: 0 auto;
    margin-top: 25px;
}